@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Manrope, sans-serif;
  background: linear-gradient(to bottom, #ffd580, #ff8c00);
}

.recipe-list-view {
  gap: 10px;
}

.recipe-card {
  border: 1px solid #ff8808;
  border-radius: 10px;
}

.recipe-card img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  object-fit: cover;
}

.recipe-card .card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-content p {
  flex-grow: 1;
}

.card-content div {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4.5em;
}

.recipe-banner{
  width: 30%;
}

.recipe-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
